body {
    padding: 0;
    margin: 0;
    background-color: #fafafa; 
    font-family: 'Helvetica', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phone {
    width: 450px;
}

.phone-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form form {
    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-left: 60px;
    border: 1px solid #ccc;
}

.form .or {
    margin-right: 80px;
}

.logo {
    width: 200px; 
    height: 90px;
}

.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd; 
    border-radius: 5px;
    outline: none;
}

.login-button, .facebook-button {
    width: 100%;
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px;
}

.login-button {
    background: #0095f6; 
}

.facebook-button {
    background: white;
    color: #3b5998;
}

.forgot-password-link, .signup-link {
    color: #3b5998;
    text-decoration: none;
}

.form p {
    margin-left: 75px;
}

.signup {
    margin-top: auto;
    padding: 15px;
    text-align: center;
}

.signup p {
    margin-bottom: 10px;
}

.get-app-img {
    width: 180px;
    margin-left: 60px; 
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    height: 70px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 10px;
    font-size: small;
    color: gray;
}